:root {
  --font-Family-sans: Catamaran, Montserrat, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-Family-mono: "Courier Prime", monospace;
  --fontSize-root: 45px;
  --spacing-1: 0.15rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.5rem;
  --height-1: 1.8rem;
  --width-1: 2.3rem;
  --width-2: calc( 1.3 * var(--width-1));
  --width-3: 8rem;
  --color-primary: rgb(236, 236, 236);
  --color-primary-dark: rgb(104, 104, 104);
  --borderRadius: 5px;
}

html{
  font-size: var(--fontSize-root);
}


body {
  font-family: var(--font-Family-mono);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-Family-mono);
  font-size: var(--fontSize-1);
  cursor: pointer;
}

#expression {
  font-size: calc( 0.7 * var(--fontSize-1) );
  white-space: pre-wrap;
}

#pad{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--spacing-1);
  width: calc( 3 * var(--spacing-1) + 4 * var(--width-1));
}

button:hover{
  background-color: var(--color-primary-dark);
}

button,
#display-screen
{
  background-color: var(--color-primary);
  border: solid 1px black;
  border-radius: var(--borderRadius);
}

.btn-s {
  width: var(--width-1);
  height: var(--height-1);

}

#display-screen{
  width: 100%;
  box-sizing: border-box;
  height: var(--width-2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--spacing-1);
  font-size: var(--fontSize-1); 
}

#expression {
  flex-grow: 1;
}

#result{
  display: flex;
  align-items: flex-end;
}

.row.pad {
  /* width: 100%; */
  display: flex;
  column-gap: var(--spacing-1);
  justify-content: space-between;
}